p {
  font-family: Lato;
}

* {
  margin: 0;
  padding: 0;
} /* to remove the top and left whitespace */

html,
body {
  width: 100%;
  height: 100%;
} /* just to be sure these are full screen*/

canvas {
  margin: 20;
  width: 800px;
  height: 600px;
  display: block;
  background-color: lightgray;
} /* To remove the scrollbars */
