
<p>
  Hello Juliette
</p>
 
<p>
  <button (click)="changePosition()">Position suivante</button>
</p>
 
<canvas #ele id="canvas" ></canvas>
  <div  cdkDrag (CdkDragEnd)="create($event)">
  Pauline
</div>

<div  id="danseur1" cdkDrag (CdkDragEnd)="create($event)">
  Justine
</div>

<div  id="danseur2"  cdkDrag (CdkDragEnd)="create($event)">
  Antoine
</div>

<div  id="danseur3"  cdkDrag (CdkDragEnd)="create($event)">
  Margot
</div>

<div  id="danseur4"  cdkDrag (CdkDragEnd)="create($event)">
  Elise
</div>










