

<p>
  Bienvenue sur Choregram !
 </p>
 <button (click)="add()"> Ajouter Danseur </button>
  
 <button (click)="savePlacement()"> Enregistrer cette position </button>
  
 <button (click)="affichePosition()"> Affiche une position </button>
  
  
 <div style="position: relative; left: 30px; top: 100px; height: 400px; width: 800px; background-color: lightgray" class="container">
  <div class = "wrapper" *ngFor="let danseur of danseurs; let index = index" >
  
  
    <div
      class = "theDiv"
      style="height: 20px; width: 20px; background-color: white"
      cdkDrag [cdkDragFreeDragPosition]="dragPositions[index]"
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded($event, index)">
      {{danseur.id}}
    </div>
  
 </div>
  
 </div>
 
 
 






