

<p>
  Bienvenue sur Choregram !
 </p>
 <button (click)="add()"> Ajouter Danseur </button>
  
 <button (click)="savePlacement()"> Ajouter ce placement </button>

 <button (click)="stop()"> Stop </button>

 <button (click)="suivant()"> Suivant </button>

 <button (click)="precedent()"> Précédent </button>

 <button (click)="suivant_autom()"> Suivant Autom </button>

 <button (click)="modifierPlacement()"> Modifier ce placement </button>

 <h4>Nombre de placements enregistrés : {{ longueur }}</h4>
 <h4>Placement visualié : {{ indicePla }}</h4>
  

 <div style="position: relative; left: 30px; top: 100px; height: 400px; width: 800px; background-color: lightgray" class="container">
  <div class = "wrapper" *ngFor="let danseur of danseurs; let index = index" >
  
  
    <div
      class = "theDiv"
      style="height: 20px; width: 20px; background-color: white"
      cdkDrag [cdkDragFreeDragPosition]="dragPositions[index]"
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded($event, index)">
      {{danseur.id}}
    </div>
  
 </div>
  
 </div>

 
 
 






